.footer_wrap[class*=scheme_] .sc_layouts_row.sc_layouts_row_type_compact .sc_layouts_item a:not(.sc_button):not([class*=button]),
.footer_wrap [class*=scheme_].sc_layouts_row.sc_layouts_row_type_compact .sc_layouts_item a:not(.sc_button):not([class*=button]) {
    color: var(--theme-color-text_dark)
}

.footer_wrap[class*=scheme_] .sc_layouts_row.sc_layouts_row_type_compact .sc_layouts_item a:not(.sc_button):not([class*=button]):hover,
.footer_wrap [class*=scheme_].sc_layouts_row.sc_layouts_row_type_compact .sc_layouts_item a:not(.sc_button):not([class*=button]):hover {
    color: var(--theme-color-text_dark_08)
}

.footer_wrap[class*=scheme_] .sc_layouts_row.sc_layouts_row_type_compact .sc_layouts_item .sc_layouts_menu .menu-item a,
.footer_wrap [class*=scheme_].sc_layouts_row.sc_layouts_row_type_compact .sc_layouts_item .sc_layouts_menu .menu-item a {
    color: var(--theme-color-text_dark)
}

.footer_wrap[class*=scheme_] .sc_layouts_row.sc_layouts_row_type_compact .sc_layouts_item .sc_layouts_menu .menu-item a:hover,
.footer_wrap [class*=scheme_].sc_layouts_row.sc_layouts_row_type_compact .sc_layouts_item .sc_layouts_menu .menu-item a:hover {
    color: var(--theme-color-text_dark)
}

.footer_wrap[class*=scheme_] .sc_layouts_row.sc_layouts_row_type_compact .sc_layouts_item .product_list_widget a:not(.sc_button):not([class*=button]),
.footer_wrap [class*=scheme_].sc_layouts_row.sc_layouts_row_type_compact .sc_layouts_item .product_list_widget a:not(.sc_button):not([class*=button]) {
    color: var(--theme-color-text_dark)
}

.footer_wrap[class*=scheme_] .sc_layouts_row.sc_layouts_row_type_compact .sc_layouts_item .product_list_widget a:not(.sc_button):not([class*=button]):hover,
.footer_wrap [class*=scheme_].sc_layouts_row.sc_layouts_row_type_compact .sc_layouts_item .product_list_widget a:not(.sc_button):not([class*=button]):hover {
    color: var(--theme-color-text_link)
}

.footer_wrap[class*=scheme_] .sc_layouts_row.sc_layouts_row_type_compact .sc_layouts_item .product_list_widget span.price,
.footer_wrap[class*=scheme_] .sc_layouts_row.sc_layouts_row_type_compact .sc_layouts_item .product_list_widget span.amount,
.footer_wrap [class*=scheme_].sc_layouts_row.sc_layouts_row_type_compact .sc_layouts_item .product_list_widget span.price,
.footer_wrap [class*=scheme_].sc_layouts_row.sc_layouts_row_type_compact .sc_layouts_item .product_list_widget span.amount {
    color: var(--theme-color-text_dark)
}

.footer_wrap[class*=scheme_] .sc_layouts_row.sc_layouts_row_type_compact .trx_addons_alter_text a,
.footer_wrap [class*=scheme_].sc_layouts_row.sc_layouts_row_type_compact .trx_addons_alter_text a {
    color: var(--theme-color-text_dark) !important
}

.footer_wrap[class*=scheme_] .sc_layouts_row.sc_layouts_row_type_compact .sc_socials.sc_socials_names:not(.alter) .socials_wrap .social_item:hover .social_name,
.footer_wrap[class*=scheme_] .sc_layouts_row.sc_layouts_row_type_compact .sc_socials.sc_socials_names:not(.alter) .socials_wrap .social_item:hover .social_icon,
.footer_wrap [class*=scheme_].sc_layouts_row.sc_layouts_row_type_compact .sc_socials.sc_socials_names:not(.alter) .socials_wrap .social_item:hover .social_name,
.footer_wrap [class*=scheme_].sc_layouts_row.sc_layouts_row_type_compact .sc_socials.sc_socials_names:not(.alter) .socials_wrap .social_item:hover .social_icon {
    color: var(--theme-color-text_dark_08)
}

.page_wrap.with_bg {
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: cover;
    background-size: cover
}

.page_wrap.with_bg.contain_size {
    background-repeat: repeat;
    background-position: top center;
    -webkit-background-size: contain;
    background-size: contain
}

.page_wrap.with_bg.fixed {
    background-attachment: fixed
}

.page_wrap.with_bg .page_content_wrap {
    background-color: transparent
}

.page_wrap.with_bg [class*=scheme_].footer_wrap,
.page_wrap.with_bg [class*=scheme_].top_panel {
    background-color: transparent
}

.page_wrap.with_bg_fixed .page_content_wrap {
    background-color: transparent
}

.page_wrap.with_bg_fixed [class*=scheme_].footer_wrap,
.page_wrap.with_bg_fixed [class*=scheme_].top_panel {
    background-color: transparent
}

.page_wrap.with_bg_fixed .custom_bg_fixed {
    display: block;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: cover;
    background-size: cover
}

.page_wrap.with_bg_fixed .custom_bg_fixed.contain_size {
    background-repeat: repeat;
    background-position: top center;
    -webkit-background-size: contain;
    background-size: contain
}

body:not(.search-no-results) .content .search_wrap.search_style_normal .search_submit {
    font-size: 24px;
    left: auto;
    right: 0;
    bottom: 1.3em
}

@media(max-width:1023px) {
    body:not(.search-no-results) .content .search_wrap.search_style_normal .search_submit {
        font-size: 22px;
        bottom: 1.2em
    }
}

@media(max-width:767px) {
    body:not(.search-no-results) .content .search_wrap.search_style_normal .search_submit {
        font-size: 20px;
        bottom: .8em
    }
}

body:not(.search-no-results) .content .search_wrap.search_style_normal .search_field {
    font-size: 35px;
    padding: 20px 1.5em 20px 0 !important
}

@media(max-width:1023px) {
    body:not(.search-no-results) .content .search_wrap.search_style_normal .search_field {
        font-size: 30px
    }
}

@media(max-width:767px) {
    body:not(.search-no-results) .content .search_wrap.search_style_normal .search_field {
        font-size: 24px;
        padding: 12px 1.5em 12px 0 !important
    }
}

.sc_team_alter .post_featured .trx_addons_hover_mask {
    background-color: var(--theme-color-text_link)
}

.sc_team_alter .post_featured:hover .trx_addons_hover_mask {
    opacity: .8
}

.sc_icons_fill.color_style_dark .sc_icons_item {
    background-color: var(--theme-color-alter_bg_color)
}

.sc_icons_fill.color_style_dark .sc_icons_item .sc_icons_icon {
    color: var(--theme-color-alter_link)
}

.sc_icons_fill.color_style_dark .sc_icons_item .sc_icons_item_title,
.sc_icons_fill.color_style_dark .sc_icons_item .sc_icons_item_title a,
.sc_icons_fill.color_style_dark .sc_icons_item:hover .sc_icons_item_title,
.sc_icons_fill.color_style_dark .sc_icons_item:hover .sc_icons_item_title a,
.sc_icons_fill.color_style_dark .sc_icons_item .sc_icons_item_title a:hover {
    color: var(--theme-color-alter_dark)
}

.sc_icons_fill.color_style_dark .sc_icons_item .sc_icons_item_description {
    color: var(--theme-color-alter_text)
}

.sc_icons_fill.color_style_dark .sc_icons_item .sc_icons_item_more_link {
    color: var(--theme-color-alter_dark)
}

.sc_testimonials_alter [class*=column] .sc_testimonials_item_author:before,
.sc_testimonials_alter .sc_testimonials_item_author:before {
    color: var(--theme-color-text_link)
}

.post_item_404 .page_title {
    font-size: 380px;
    line-height: .83em
}

.post_item_404 .post_content {
    padding: 8.2em 0
}

.post_item_404 .post_content .all-svg {
    display: none
}

.sc_layouts_panel {
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
    -ms-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2)
}

.sc_icons_number .sc_icons_item_number {
    opacity: .1
}

.sc_icons_number .sc_icons_item:hover .sc_icons_item_number {
    opacity: .13
}

#sb_instagram[data-shortcode-atts*=feedTwo] .sbi_follow_btn a,
#sb_instagram.feedTwo .sbi_follow_btn a,
.widget_instagram_type_modern .widget_instagram_follow_link_wrap .widget_instagram_follow_link {
    color: var(--theme-color-text_dark) !important;
    background-color: var(--theme-color-bg_color) !important
}

#sb_instagram[data-shortcode-atts*=feedTwo] .sbi_follow_btn .fa #sb_instagram[data-shortcode-atts*=feedTwo] .sbi_follow_btn svg,
#sb_instagram.feedTwo .sbi_follow_btn .fa,
#sb_instagram.feedTwo .sbi_follow_btn svg {
    color: var(--theme-color-text_dark)
}

.trx_addons_bg_text .trx_addons_bg_text_inner .trx_addons_bg_text_char {
    color: var(--theme-color-text_link)
}

.sc_team_light .post_featured .trx_addons_hover_mask {
    background: var(--theme-color-inverse_dark);
    background: -moz-linear-gradient(0deg, var(--theme-color-text_link) 0%, var(--theme-color-inverse_dark) 100%);
    background: -webkit-linear-gradient(0deg, var(--theme-color-text_link) 0%, var(--theme-color-inverse_dark) 100%);
    background: linear-gradient(0deg, var(--theme-color-text_link) 0%, var(--theme-color-inverse_dark) 100%)
}

.sc_team_light .post_featured:hover .trx_addons_hover_mask {
    opacity: .5
}

.sc_icons_creative .sc_icons_image img {
    max-width: 83%
}

.map_marker_2 {
    background-color: var(--theme-color-text_dark)
}

.map_marker_2:before {
    color: var(--theme-color-bg_color)
}

.sc_button.sc_button.sc_button_simple.sc_button_with_icon .sc_button_icon {
    border-color: var(--theme-color-text_dark)
}

.num-hover,
.num-hover * {
    color: var(--theme-color-text_dark)
}

.sc_cover:hover+.elementor-container .num-hover,
.sc_cover:hover+.elementor-container .num-hover * {
    color: var(--theme-color-text_link2)
}